*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9d2;
background-image: linear-gradient(315deg, #f8f9d2 0%, #e8dbfc 74%);
    min-height: 100vh;
}
.container{
    border: 1px solid black;
    height: 600px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(station.jpg);
    
    /* background-position: center center; */
    background-size: cover;
    
}

.container h2{
    
    color: white;
    font-style: inherit;
    font-weight: 700;
    font-size: 4.5rem;
    animation: text;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes text {
    0%,25%{
        
        color: rgb(50, 204, 132);
        
        
    }
    
    50%{
        
        color: aqua;
        
        
    }
    100%{
    
        color: white;
        
    }
}
.container span{
    
    margin: 10px;
    color: white;
    font-size: 5rem;
    font-weight: 500;
    
}

.container button{
    
     margin: 11px 18px;
     padding: 0.3rem;
     width: 100px;
     border-radius: 2px;
     cursor: pointer;
     font-size: 1.2rem;
     font-weight: bold;
     border: none;
     



}

.container p{
    margin-top: 10px;
    font-size: 1.5rem;
    color: white
    ;
}


#increment{
    
    background-color: rgba(0, 128, 0, 0.719);
    color: white;
}

#increment:hover{
    transform: scale(1.1);
    
    background-color:rgb(37, 161, 37);
}

#save{
    background-color: rgba(17, 203, 228, 0.712);
    color: white;
}

#save:hover{
    transform: scale(1.1);
    background-color: rgba(51, 207, 228, 0.979);
    
}
#cancel{
    background-color: rgba(139, 0, 0, 0.582);
    color: white;
    
}
#cancel:hover{
    transform: scale(1.1);
    background-color: rgb(202, 48, 48);
    
}